.button {
  position: relative;
  border-radius: 0.2em;

  &.isLoading {
    .loader {
      opacity: 1;
    }

    .content,
    .icon {
      opacity: 0;
    }
  }

  &.isLarge {
    font-size: 1.5rem;
  }
}

.appearanceButton {
  background-color: var(--c-primary);
  color: #fff;
  padding: 0.75em 1.5em;
  transition: background-color 150ms ease-in-out;
  font-family: var(--font-heading);
  text-decoration: none;

  &:hover {
    background-color: var(--c-primary-dark);
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--c-primary-light);
    color: var(--c-p);
  }
}

.loader,
.content,
.icon {
  transition: opacity 150ms ease-in-out;
}

.icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin: 0 0.75em;
  transform: translateY(-50%);

  &.iconLeft {
    right: auto;
    left: 0;
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
}

.content {
  opacity: 1;
}
