.header {
  background-color: var(--c-bronze);
  min-height: 250px;
  position: relative;
  overflow: hidden;
}

.headerInner {
  margin: 0 auto;
  width: var(--content-width);
  max-width: var(--content-max-width);
  position: relative;
  padding-top: var(--space-gutter);
  display: flex;
  justify-content: space-between;

  @mixin mobile {
    flex-direction: column;
    align-items: center;
  }
}

.headerBig {
  min-height: 400px;
  @mixin mobile {
    min-height: 400px;
  }
}

.navigation {
  @mixin mobile {
    margin-top: var(--space-gutter);
  }
}

.border {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

.borderLine {
  color: var(--c-primary);
  top: -10px;
  transform: translateY(-95%);

  & + .borderLine {
    color: #fff;
    top: 0;
  }
}

.title {
  color: #fff;
  font-size: 2.5rem;
  text-decoration: none;

  @mixin mobile {
    text-align: center;
  }
}

.intro {
  text-align: center;
}
