.tiers {
  display: grid;
  margin-top: var(--space-gutter);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--space-gutter);

  @mixin mobile {
    display: block;
  }
}

.tier {
  padding: var(--space-gutter);
  border: 1px solid var(--c-border-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @mixin mobile {
    & + .tier {
      margin-top: 1rem;
    }
  }
}

.tierPrice {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  color: var(--c-border);
}

.tierTitle {
  align-self: flex-start;
  margin-top: 1rem;
}

ul.tierList {
  align-self: flex-start;
  padding-left: 1.2em;
  list-style: disc outside none;
  margin: 1.5rem 0;
  li + li {
    margin-top: 0.5em;
  }

  li,
  li a {
    font-size: var(--fs-msmall);
  }
}

.tierButton {
  margin-top: auto;
  font-size: var(--fs-msmall);
}
