.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
}

.main {
  margin: var(--space-groups) auto;
  width: var(--content-width);
  max-width: var(--content-max-width);
}

.footer {
  margin-top: auto;
}
